
.vscode/
__pycache__/
.vscode/settings.json
Secret/PythonT1.sh
Secret/
test.py
doapi/QRCodes/
.env
autotradingbinance.egg-info/
fastapi.log
.idea/
myfastapi/test.py
Frontend
myfastapi/test_database_connection.py
myfastapi/test_security.py
myfastapi/integration_test.py
myfastapi/create_test_user.py
myfastapi/Security/
myfastapi/fastcode.md
test1.py
